<section>
  <article>
    <header><p>PROFESIONALES <hr></p></header>
    <main>
      <p>ESPECIALIZADOS en la compraventa de vehículos de ocasión</p>
    </main>
  </article>
  <article>
    <header><p>POR QUE MR CARS <hr></p></header>
    <main>
      <p>
        EXPERIENCIA & COMPROMISO. Comenzamos con una gran tarea de SELECCIÓN, a
        la hora de decidir que coches ofrecer a nuestros clientes, por que si no
        es válido para nosotros, nunca lo será para vosotros. ASESORAMIENTO
        personal para cada caso en particular, te ayudamos a decidir que coche
        es el más conveniente para ti, en función de las necesidades personales
        que presentes, viajas mucho?, tienes familia númerosa?, necesitas un
        segundo vehículo para las tareas diarias?…nosotros daremos con lo que
        verdaderamente necesitas. PRECIOS COMPETITIVOS, en MR autos siempre
        encontrarás los mejores precios del mercado, en relación calidad/precio,
        al no haber intermediarios podemos darte un gran precio tanto al
        venderte un coche como al comprartelo. Encontraremos siempre la mejor
        FINANCIACIÓN para tu caso, ya que trabajamos directamente con varias
        financieras, que asegurarán la operación al 100%. Todos nuestros coches
        salen del concesionario con de 1 a 2 años de GARANTÍA, para tu mayor
        tranquilidad, todos han sido revisado en todos los aspectos.
      </p>
    </main>
  </article>
</section>


<style>
  section {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    background-image: url("../assets/img/contact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
    color: #fff;
  }

  article {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-width: 40%;
    padding: 10px;
    & hr{
      width: 100%;
      height: 1px;
      background-color: #ffd700;
      margin: 5px 0;
      display: block;
      border: none;
    }
  }
  article:first-child {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    & main{
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  header p {
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 10px;
  }
  main p {
    line-height: 1.6;
  }
</style>
