<section id="contact">
  <img src="./img/contact.png" alt="contact.png" />
  <article>
    <header>
      <p>VEHÍCULOS GARANTIZADOS</p>
    </header>
    <main>
      <ul>
        <li>Reparaciones de mecánica general</li>
        <li>Mantenimiento preventivo del coche</li>
        <li>Revisión de aire acondicionado</li>
        <li>Revisión del sistema de refrigeración</li>
        <li>Revisión del nivel de aceite</li>
        <li>Cambio de los filtros de aceite</li>
        <li>Revisión de los frenos</li>
        <li>Diagnóstico mecánico</li>
        <li>Niveles de líquidos</li>
        <li>Revisión de la transmisión</li>
      </ul>
    </main>
    <footer>
      <p>Llámanos</p>
      <p>+34 000 000 000</p>
    </footer>
  </article>
  <div>
    <p>MR CARs Servicio</p>
  </div>
  <footer>
    <p>solo las mejores marcas</p> 
    <img src="../assets/img/" alt="" />
    <img src="consecionario\src\assets\img\audi.png" alt="" />
    <img src="../assets/img/jaguar.png" alt="" />
    <img src="../assets/img/mercedes.png" alt="" />
    <img src="../assets/img/porche.jpg" alt="" />
    <img src="../assets/img/vw.png" alt="" />
  </footer>
</section>
