<footer>
  <section>
    <article>
      <h6>Contacto</h6>
      <p>Estaremos encantados de atenderte:</p>
      <ul>
        <li>Calle Ejemplo, 123, Ciudad</li>
        <li>mr.cards@mr.cards</li>
        <li>+34 000 000 000</li>
      </ul>
    </article>
    <article>
      <p>Enlaces de interés:</p>
      <ul>
        <li>Aviso Legal</li>
        <li>Política de Cookies</li>
        <li>Accesibilidad web</li>
      </ul>
    </article>
  </section>
  <footer>
    <p>© 2025 MR CARS. Todos los derechos reservados.</p>
    <p>Creado por ICTA</p>
  </footer>
</footer>
