<header class="header">
  <h1>Car Page</h1>
  <nav>
    <ul>
      <li><a href="#exposicion">Exposición</a></li>
      <li><a href="#about">Nosotros</a></li>
      <li><a href="#services">Servicios</a></li>
      <li><a href="#revisions">Revisiones</a></li>
      <li><a href="#contact">Contáctanos</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    background-color: rgba(3, 3, 3, 0.8);
    position: fixed;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    & h1 {
      font-size: 20px;
      color: #ffd700;
      text-transform: uppercase;
    }
    & nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      & li {
        margin: 0 5px;
        & a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          &:hover {
            border-bottom: 2px solid #ffd700;
            color: #ffd700;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
</style>
