<section>
  <form action="">
    <label for=""
      >Seleccione Kilometros
      <select name="kilometros" id="kilometros">
        <option value="1000">1000 km</option>
        <option value="5000">5000 km</option>
        <option value="10000">10000 km</option>
        <option value="20000">20000 km</option>
      </select>
    </label>
    <label for=""
      >Seleccione Marca
      <select name="marca" id="marca">
        <option value="toyota">Toyota</option>
        <option value="ford">Ford</option>
        <option value="bmw">BMW</option>
        <option value="audi">Audi</option>
      </select>
    </label>
    <label for=""
      >Seleccione Transmisión
      <select name="modelo" id="modelo">
        <option value="manual">Manual</option>
        <option value="automatico">Automático</option>
      </select>
    </label>
    <label for=""
      >Seleccione Color
      <select name="color" id="color">
        <option value="rojo">Rojo</option>
        <option value="azul">Azul</option>
        <option value="blanco">Blanco</option>
      </select>
    </label>
    <label for="">Precio:</label>
    <label for=""> minimo <input type="number" /> </label>
    -
    <label for="">
      max
      <input type="number" />
    </label>
    <button>BUSCAR</button>
  </form>
</section>
